html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: rgb(182, 182, 182);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
header {
    height: 90px;
    background: #000;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo{
    width: 150px;
    display: flex;
    gap: 10px
}

#logo h1{
    margin: 0;
    color: azure;
}

#logo h1 span {
    color: rgb(235, 211, 2);
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    color: yellow;
    font-size: 18px;
}

header nav ul li a {
    color: rgb(235, 211, 2);
    text-decoration: none;
    display: block;
    padding: 30px 20px;
}

header nav ul li a:hover{
    color: azure;
    border-bottom: 5px solid rgba(255, 255, 255, 0.589);
}

.active {
    border-bottom: 3px solid rgb(245, 245, 241);
}

main {
    color: rgb(0, 0, 0);
}

table {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

tr:nth-child(odd) {
    background-color: rgb(255, 0, 119);
}
tr:nth-child(1) {
    background-color: rgb(255, 0, 119);
}

tr:nth-child(2) {
    background-color: rgb(255, 255, 255);
}

.tb-border-column{
    background-color: rgb(255, 255, 255);
}

.tb-border-right{
    border-right: 1px solid rgb(0, 0, 0);
}

form{
    display: flex;
    flex-direction: column;
}